# ------------- folders ---------------
# vscode folders
/.vscode/*.json
/.vscode/probe.code-snippets

# lunch folders
/.hmcl
/PCL

# mod folders
/.spark-profiles-export
/CustomSkinLoader
/kubejs/probe
/xaero
/.mixin.out
/modernfix

# mod config
/config/jei/world
/config/spark

# minecraft folders
/local
/logs
/mods
/saves
/TinkersPower-natives
/crash-reports

# node
/node_modules
/build

# ------------- root files ---------------
# files
/observable_announce

# dot files
/.qmenu_opened.marker

# properties files
/rhino.local.properties

# json files
/TinkersPower.json
/usercache.json
/usernamecache.json

# jar files
TinkersPower.jar

# manifest
/.manifest/manifest.json
/.manifest/modlist.html
