# ------------- folders ---------------
# vscode folders
/.vscode/*.json
/.vscode/probe.code-snippets

# lunch folders
/.hmcl
/PCL

# mod folders
/.spark-profiles-export
/CustomSkinLoader
/kubejs/probe
/xaero
/config/jei/world
/.mixin.out

# minecraft folders
/local
/logs
/mods
/saves
/TinkersPower-natives

# node
/node_modules

# ------------- root files ---------------
# files
/observable_announce

# dot files
/.qmenu_opened.marker

# properties files
/rhino.local.properties

# json files
/TinkersPower.json
/usercache.json
/usernamecache.json

# jar files
TinkersPower.jar
